<h1> Log In</h1>

<%= form_tag({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <label> Name: </label><br>
    <input type="text" name="name"><br>
    <label> Password: </label><br>
    <input type="password" name="password"><br>
    <input type="submit" value="Login">
    <% end %> <br>

    <%= link_to "Create an Account", signup_path %>